{% extends "_layouts/default" %}

{% block content %}

<div class="header season">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div><h4 class="toggle-nav mobile">menu</h4></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
			<h4><a target="_blank" href="https://www.instagram.com/paritygroup/">Instagram</a></h4>
			<h4><a target="_blank" href="https://ethz.us1.list-manage.com/subscribe?u=b139916afb36198203a069bfd&id=3eec66abe4">Mailing List</a></h4>
			<h4><a target="_blank" href="mailto:parity@arch.ethz.ch">Contact</a></h4>
				<div class="mobile"><span class="live-now">Live</span></div>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul id="primary-nav">
					<li class="nav-main-item title"><a href="/group">Group</a></li>
					<li class="nav-main-item title"><a href="/talks">Talks</a></li>
					<li class="nav-main-item title active"><a href="/calendar">Calendar</a></li>

				</ul>
			</nav>
		</div>
	</div>
	<div id="season-header" class="header-two fixed-center">
		<div class="header-left"></div>
		<div class="header-main">
				<h2 class="title active"><a href="/season/year">Year</a></h2>
				<h2 class="title"><a href="/season">Month</a></h2>
		</div>
		<div class="online-legend">
			<div class="legend online">online</div>
			<div class="legend offline">offline</div>
		</div>
	</div>
</div>

<!-- Header Two Season -->

<main id="season" class="year">
	{% set entries = craft.entries.section('season').orderBy('startTime asc').all() %}
	{% for event in entries %}
	<div class="season-entry {% if event.onlineOrOffline == 'offline' %} offline{% endif %}">
		<div class="season-entry-date"><p>{{ event.startTime|date('d.m.') }}{{ event.startTime|date('yy') }}</p></div>
		<div class="season-entry-description">
			<h4>{{event.eventSubtitle}}</h4>
			<div class="season-entry-title">
				<p>{{event.title}}</p>
			</div>
			<div class="season-entry-detail">
				<div class="season-entry-body">
					<p>{{event.description}}</p>
				</div>
				<div class="season-entry-info">
					<div class="season-entry-host">
						<p>{{event.speakers | nl2br}}</p>
					</div>
					<div>
						<div class="season-entry-time">Time: {{event.startTime|date('H.i')}} - {{event.endTime|date('H.i')}}</div>
						{% if event.linkToEvent %}
							<div class="season-entry-link"><a href="{{event.linkToEvent}}" target="_blank">Online Link</a></div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</main>

{% endblock %}