{% extends "_layout" %}

{% block content %}
<main>
	<section id="hero">
		<div class="wrapper">

			<div class="hero-header__content">
				<h1 class="page-title">{{entry.homeTitle}}</h1>
				<h3 class="page-subtitle">{{entry.homeSubtitle}}</h3>
				<h3>{{ entry.homeDate|date('short') }}</h3>

				{% set artistEntries = craft.entries.section('artists').all() %}
				<div class="hero-artist-container">
					<p class="artist-entries">{% for entry in artistEntries %}
						<span class="artist-entry"><a href="{{entry.url}}"> {{entry.title}}</a>{{ loop.last ? '' : ',' }}</span>
					{% endfor %}</p>
				</div>	

				<a href="/program" ><button class="primary"> {{entry.homeButtonText}}</button></a>
			</div>
		</div>
		<div class="hero-background">
			<div class="logo-container"></div>
		</div>
	</section>
	</main>
	<section id="logbook">
		<div class="wrapper">
			<h3 class="uppercase">Logbuch – Unser Countdown zum Festival</h3>
			<div class="interaction-container active main">
				{% set logbookEntry = craft.entries.section('logbookEntries').last() %}

				<div class="interaction-header">
					<h4 class="interaction-date">Frage des Tages</h4>
					<h3 class="interaction-prompt"> {{ logbookEntry.title }}</h3>
				</div>

				<div class="answers-list">

					{% if logbookEntry.logbookResponses|length %}
						{% for entry in logbookEntry.logbookResponses %}
							<div class="answer-container {{ loop.first ? 'active' }}">
								<div class="answer-header">
									<p class="answer-name">{{ entry.responseName }}</p>
									<p class="answer-title">{{ entry.responseTitle }}</p>
								</div>
								<div class="answer-body">
									{% if entry.type == 'photo' %}
										<div class="answer-photo">
											<img src="{{entry.photo.one().url }}" />
										</div>
									{% endif %}

									{% if entry.type == 'video' %}
										<div class="answer-photo">
											<video controls>
												<source src="{{ entry.video.one().url }}" type="video/mp4">
											</video>
										</div>
									{% endif %}
									{% if entry.type == 'audio' %}
										<div class="answer-audio">{{entry.linkToAudio|raw }}</div>
									{% endif %}
									
									{% if entry.type == 'text' %}
										<div class="answer-text">
											{{entry.text}}
										</div>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					{% endif %}
			<h4><a class="link" href="/logbook">{{ entry.viewLogbookButton }}</a></h4>
		</div>
	</section>

{% endblock %}
