{% extends "_layouts/default" %}

{% block content %}

<div class="header group">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div><h4 class="toggle-nav mobile">menu</h4></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
			<h4><a target="_blank" href="https://www.instagram.com/paritygroup/">Instagram</a></h4>
			<h4><a target="_blank" href="https://ethz.us1.list-manage.com/subscribe?u=b139916afb36198203a069bfd&id=3eec66abe4">Mailing List</a></h4>
			<h4><a target="_blank" href="mailto:parity@arch.ethz.ch">Contact</a></h4>
				<div class="mobile"><span class="live-now">Live</span></div>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul id="primary-nav">
					<li class="nav-main-item title active"><a href="/group">Group</a></li>
					<li class="nav-main-item title"><a href="/talks">Talks</a></li>
					<li class="nav-main-item title"><a href="/calendar">Calendar</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>

<div class="title-header group">
	<h2 class="title">The Parity Group is a fluid group of students, assistants, and professors from the Department of Architecture at ETH Zurich who meet to discuss issues around gender and diversity, organizing the yearly Parity Talks in March. </h2>
</div>

<main id="group">
	<section class="page-body">
		<!-- Group Section Entry -->
		<div class="group-entry-block">
			<div class="group-entry-title">
				<p>Supporters</p>
			</div>
			<div class="group-entry-body">
				{% set supporters = craft.entries.section('supporters').all() %}

				{% for entry in supporters %}
					{% if entry.partnerWebsite %}
						<p><a target="_blank" href="{{entry.partnerWebsite}}">{{ entry.title }}</a></p>
					{% else %}
						<p>{{ entry.title }}</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="group-entry-block">
			<div class="group-entry-title">
				<p>Partners</p>
			</div>
			<div class="group-entry-body">
				{% set partners = craft.entries.section('partners').all() %}

				{% for entry in partners %}
					{% if entry.partnerWebsite %}
						<p><a target="_blank" href="{{entry.partnerWebsite}}">{{ entry.title }}</a></p>
					{% else %}
						<p>{{ entry.title }}</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="group-detail mobile-hide">
			<p>© 2021 Parity Group</p>
			<p>Web Design by <a href="https://readymag.com/u76245845/1882450/">Lia bellini</a> + <a href="http://www.annikahaenni.ch/"> annika hänni</a></p>
			<p>Web Programming by alex arsenault</p>
		</div>
		<div class="group-detail mobile-hide">
			<p>The views, thoughts, and opinions expressed on this website belong solely to the authors, and not necessarily to the ETH Zurich and its departments or the individuals affiliated with ETH Zurich. 
			</p>
		</div>
	</section>

	<aside>
		<div class="aside-title">
			<p>Current members</p>
		</div>
		<div class="aside-body">
			<p>{{ entry.groupCurrentMembers | nl2br }}</p>
		</div>
	</aside>

	<div class="mobile mobile-group-details">
		<div class="group-detail">
			<p>© 2021 Parity Group</p>
			<p>Web Design by <a target="_blank" href="https://readymag.com/u76245845/1882450/">Lia bellini</a> + <a target="_blank" href="http://www.annikahaenni.ch/"> annika hänni</a></p>
			<p>Web Programming by alex arsenault</p>
		</div>
		<div class="group-detail">
			<p>The views, thoughts, and opinions expressed on this website belong solely to the authors, and not necessarily to the ETH Zurich and its departments or the individuals affiliated with ETH Zurich. 
			</p>
		</div>
	</div>
</main>

{% endblock %}
