{% extends "_layout" %}

{% block content %}

<main>
	<section id="logbook">
		<div class="wrapper">
			<h3 class="uppercase">Logbuch – Unser Countdown zum Festival</h3>
			<div class="interaction-container active main">
				{% set logbookEntry = craft.entries.section('logbookEntries').last() %}

				<div class="interaction-header">
					<h4 class="interaction-date">Frage des Tages</h4>
					<h3 class="interaction-prompt"> {{ logbookEntry.title }}</h3>
				</div>

				<div class="answers-list">

					{% if logbookEntry.logbookResponses|length %}
						{% for entry in logbookEntry.logbookResponses %}
							<div class="answer-container {{ loop.first ? 'active' }}">
								<div class="answer-header">
									<p class="answer-name">{{ entry.responseName }}</p>
									<p class="answer-title">{{ entry.responseTitle }}</p>
								</div>
								<div class="answer-body">
									{% if entry.type == 'photo' %}
										<div class="answer-photo">
											<img src="{{entry.photo.one().url }}" />
										</div>
									{% endif %}

									{% if entry.type == 'video' %}
										<div class="answer-photo">
											<video controls>
												<source src="{{ entry.video.one().url }}" type="video/mp4">
											</video>
										</div>
									{% endif %}

									{% if entry.type == 'audio' %}
										<div class="answer-audio">{{entry.linkToAudio|raw }}</div>
									{% endif %}
									
									{% if entry.type == 'text' %}
										<div class="answer-text">
											{{entry.text}}
										</div>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					{% endif %}
		</div>
	</section>

	{# Archive #}

	<section id="archive">
		<div class="wrapper">
			<div class="archive-content">
				<h3 class="uppercase">Logbuch Archiv</h3>

				{% set entries = craft.entries.section('logbookEntries') %}

				{% for entry in entries %}
					<div class="interaction-container">
						<div class="toggle-active-overlay"></div>
						<div class="interaction-header">
							<h4 class="interaction-date">Interaction {{ entry.entryDate|date('short') }}</h4>
							<h3 class="interaction-prompt"> {{ entry.title }}</h3>
						</div>

						<div class="answers-list">

							{% if entry.logbookResponses|length %}
							
								{% for responseEntry in entry.logbookResponses %}
									<div class="answer-container {{ loop.first ? 'active' }}">
										<div class="answer-header">
											<p class="answer-name">{{ responseEntry.responseName }}</p>
											<p class="answer-title">{{ responseEntry.responseTitle }}</p>
										</div>
										<div class="answer-body">
											{% if responseEntry.type == 'photo' %}
												<div class="answer-photo">
													<img src="{{responseEntry.photo.one().url }}" />
												</div>
											{% endif %}

											{% if responseEntry.type == 'video' %}
												<div class="answer-photo">
													<video controls>
														<source src="{{ responseEntry.video.one().url }}" type="video/mp4">
													</video>
												</div>
											{% endif %}

											{% if responseEntry.type == 'audio' %}
												<div class="answer-audio">{{responseEntry.linkToAudio|raw}}</div>
											{% endif %}
											
											{% if responseEntry.type == 'text' %}
												<div class="answer-text">
													{{responseEntry.text}}
												</div>
											{% endif %}
										</div>
									</div>
								{% endfor %}

							{% endif %}
						</div>
					</div>
				{% endfor %}

	</section>
	
{% endblock %}
