{% extends "_layout" %}

{% block content %}

{% set image = entry.artistImage.one().getUrl() ?? null %}
{% set Twitter = entry.artistLinkTwitter ?? null %}
{% set Website = entry.artistLinkWebsite ?? null %}
{% set website = entry.artistLinkWebsite ?? null %}
{% set Instagram = entry.artistLinkInstagram ?? null %}
{% set Facebook = entry.artistLinkFacebook ?? null %}
{% set Youtube = entry.artistLinkYoutube ?? null %}
{% set Vimeo = entry.artistLinkVimeo ?? null %}
{% set Soundcloud = entry.artistLinkSoundcloud ?? null %}
{% set Spotify = entry.artistLinkSpotify ?? null %}

{% set categories = craft.categories.relatedTo(entry) %}

<section id="single-artist">
	<div class="wrapper">
		<a class="back-link" href="/program"> <i class="fa-lg fa fa-caret-left"></i>Zurück</a>
		<div class="artist-container">
			<div class="artist-image" style="background-image: url('{{image}}');"></div>
			<div class="artist-content">
			{% for category in categories %}
				<div class="event-type">{{ category.title }}</div>
			{% endfor %}
				<div class="artist-heading">
					<h3>{{entry.title}}</h3>
					<h4>{{entry.artistInterventionName}}</h4>
				</div>
				{{ entry.artistText }}
				<div class="artist-links">

				{% if Website != null %}
					<a href="{{ Website }}">
						<i class="fas fa-lg fa-globe"></i>
					</a>
				{% endif %}

				{% if Twitter != null %}
					<a href="{{ Twitter }}">
						<i class="fab fa-lg fa-twitter"></i>
					</a>
				{% endif %}

				{% if Instagram != null %}
					<a href="{{ Instagram }}">
						<i class="fab fa-lg fa-instagram"></i>
					</a>
				{% endif %}
				{% if Facebook != null %}
					<a href="{{ Facebook }}">
						<i class="fab fa-lg fa-facebook"></i>
					</a>
				{% endif %}
				{% if Youtube != null %}
					<a href="{{Youtube}}">
						<i class="fab fa-lg fa-youtube"></i>
					</a>
				{% endif %}
				{% if Vimeo != null %}
					<a href="{{Vimeo}}">
						<i class="fab fa-lg fa-vimeo"></i>
					</a>
				{% endif %}
				{% if Soundcloud != null %}
					<a href="{{Soundcloud}}">
						<i class="fab fa-lg fa-soundcloud"></i>
					</a>
				{% endif %}
				{% if Spotify != null %}
					<a href="{{ Spotify }}">
						<i class="fab fa-lg fa-spotify"></i>
					</a>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>


<section id="artists">
	<div class="wrapper">
		<h3>Künstler*innen</h3>
		<div class="artist-gallery">
				{% set categories = craft.entries.section('artists').find() %}

        {% for entry in categories %}
        {% set image = entry.artistImage.one().getUrl() ?? null %}
        {% set url = entry.slug %}

          <a href="/program/{{url}}" class="artist">
            <article>
              <div class="artist-image" style="background-image: url('{{ image }}');"></div>
              <p class="artist-title">{{entry.title}}</p>
            </article>
          </a>
        {% endfor %}
		</div>
	</div>
</section>
{% endblock %}